<!--
[5] onad | 20200330 | Application login functionality
[7] onad | 20200331 | Password change functionality
-->
{% extends "base_bootstrap_hdr_stky-ftr.html" %}


{% block title %}{{ title }}{% endblock %}


{% block header_profile %}
    <ul class="navbar-nav">
        {% if user.is_authenticated %}  <!--[7]-->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'site_home' %}">{{user.username}}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
        {% else %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Sign Up<span class="sr-only">(current)</span></a>
            </li>

        {% endif %}
    </ul>
{% endblock %}


{% block content %}
        <h1 class="mt-5 text-center">User Log In</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>
{% endblock %}