<!--
[4] onad | 20200330 | Application Home page and sign up functionality
[10] onad | 20200401 | Bootstrap4 forms
-->
{% extends "base.html" %}

{% load crispy_forms_tags %} <!--[10]-->

{% block title %}{{ title }}{% endblock %}

{% block style_extension %}
form .alert ul li {
  list-style: none;
}
form .alert ul {
  padding: 0;
  margin: 0;
}
{% endblock %}

{% block header_profile %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In <span class="sr-only">(current)</span></a>
                </li>
            </ul>
{% endblock %}


{% block content %}

   <div class="row justify-content-center mt-4">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="mt-4">User Registration</h1>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <!--[10]-->
                        <!--{{ form.as_p }}-->
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}