<!--
[2] onad | 20200324 | Create base_bootstrap_hdr_ftr.html template (initial draft)
[3] onad | 20200326 | Update base_bootstrap_hdr_ftr.html and other templates to suit screens draft
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Base Template{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %}">
</head>
<body>
<div id="page">
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <!--[3]-->
            <li><a href="{% url 'site_home' %}">Home</a></li>
            <li><a href="/admin/">Admin</a></li>
            <li><a href="{% url 'membership_home' %}">Membership</a></li>
            <li><a href="{% url 'accounting_home' %}">Accounting</a></li>
            <li><a href="{% url 'transaction_home' %}">Transaction</a></li>
            <li><a href="{% url 'system_setting_home' %}">System Setting</a></li>
            <li><a href="{% url 'report_home' %}">Report</a></li>
        </ul>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        This is the content area.
        {% endblock %}
    </div>
</div>
</body>
</html>