<!--
[2] onad | 20200324 | created file
[3] onad | 20200326 | improvement of [2]
[4] onad | 20200330 | Application Home page and sign up functionality
[5] onad | 20200330 | Application login functionality
[6] onad | 20200330 | Application logout functionality
-->
{% extends "base.html" %}


{% block title %}{{ title }}{% endblock %}

{% block sidebar %}{% endblock %}
s
{% block content %}

        <h1 class="mt-4">Welcome Message</h1>
        <p class="lead">About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative.
            About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative.
            About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative.
            About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative.
        </p>
         <p>About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative.
            About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative.
            About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative.
            About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative.
        </p>
         <p>About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative.
            About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative.
            About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative.
            About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative.
        </p>

{% endblock %}