<!--
[2] onad | 20200324 | created file
-->
{% extends "base.html" %}
{% block title %}CEU CCI - Loan Management System{% endblock %}
{% block content %}
<div><h1>CEU CCI - Loan Management System Home Page</h1></div>
<div>
    <p>This is the APPLICATION HOMEPAGE.</p>
</div>
{% endblock %}
{% block sidebar %}
        <ul>
            <li><a href="/admin/">Admin</a></li>
            <li><a href="/membership/">Membership</a></li>
            <li><a href="/accounting/">Accounting</a></li>
            <li><a href="/transaction/">Transaction</a></li>
            <li><a href="/system_setting/">System Setting</a></li>
            <li><a href="/report/">Report</a></li>
        </ul>
{% endblock %}