<!--
[9] onad | 20200401 | Protected/secured views
-->
{% extends "base_bootstrap_hdr_stky-ftr_sbar.html" %}


{% block title %}{{ title }}{% endblock %}


{% block content %}
        <h1 class="mt-5 text-center">Welcome Message</h1>
        <p class="lead">About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative.
            About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative.
            About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative.
            About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative. About CEU Credit Cooperative.
        </p>
{% endblock %}