<!--
[2] onad | 20200324 | created file
-->
{% extends "base.html" %}
{% block title %}System Setting{% endblock %}
{% block content %}
<div><h1>System Setting</h1></div>
<div>
    <p>This is the SYSTEM SETTING HOMEPAGE.</p>
</div>
{% endblock %}

{% block sidebar %}
        <ul>
            <li><a href="/home/">Home</a></li>
            <li><a href="/admin/">Admin</a></li>
            <li><a href="/membership/">Membership</a></li>
            <li><a href="/accounting/">Accounting</a></li>
            <li><a href="/transaction/">Transaction</a></li>
            <li><a href="/report/">Report</a></li>
        </ul>
{% endblock %}