<!--
[2] onad | 20200324 | created file
-->
{% extends "base.html" %}
{% block title %}Accounting{% endblock %}
{% block content %}
<div><h1>Accounting</h1></div>
<div>
    <p>This is the ACCOUNTING HOMEPAGE.</p>
</div>
{% endblock %}

{% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin/">Admin</a></li>
            <li><a href="/membership/">Membership</a></li>
            <li><a href="/transaction/">Transaction</a></li>
            <li><a href="/system_setting/">System Setting</a></li>
            <li><a href="/report/">Report</a></li>
        </ul>
{% endblock %}